body {
  font-family: sans-serif;
  display: flex;
}

h2 {
  color: white;
}

.wideScreen {
  background-color: #f39c12;
}

.mediumScreen {
  background-color: #9b59b6;
}

.narrowScreen {
  background-color: #3498db;
}
